nav {
    background-color: #e83e8c;
}

footer {
    background-color: #e83e8c;
}

h1 {
    font-size: 400%;
}

#containerS {
    background-color: #17A2B8;
}

#divmaloso {
    /*justify-content: flex-end;*/
    width: 50%;
}